.CurrentForecast {
  margin: 36px 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

/* Degrees symbol with CSS */
.CurrentForecast>h1::after {
  content: "\00B0";
}

.CurrentForecast>h1 {
  font-size: 5rem;
  padding-left: 16px;
}

.CurrentForecast>h1,
.CurrentForecast>p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.CurrentForecast>p {
  font-weight: 600;
}