.HourlyForecast {
  background-color: rgba(68, 144, 192, 0.9);
  border-radius: 6px;
  display: flex;
  overflow-x: scroll;
  padding: 0.75rem;
  width: 80vw;
  /* Hide scrollbar on IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar on Firefox */
  scrollbar-width: none;
}

.HourlyForecast::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar on Chrome, Safari, and Opera  */
}