.DailyRow {
  border-top: 1px solid rgba(328, 344, 300, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DailyRow-Left,
.DailyRow-Right {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.DailyRow-Left {
  width: 20%;
}

.DailyRow-Right {
  width: 60%
}

.DailyRow img {
  width: 25px;
}