.DailyRow {
  border-top: 1px solid rgba(328, 344, 300, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .DailyRow-Right  */
.DailyRow-Left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.DailyRow-Left {
  width: 20%;
}

@media screen and (max-width: 640px) {
  .DailyRow-Left {
    width: 30%;
  }
}

.DailyRow-Right {
  width: 60%;
  position: relative;
}

.DailyRow-Right span:first-child,
.DailyRow-Right span:last-child {
  position: absolute;
  top: -9px;
}

.DailyRow-Right span:first-child {
  left: 1%;
}

.DailyRow-Right div:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.DailyRow-Right span:last-child {
  right: 1%;
}

.DailyRow img {
  width: 25px;
}