.WeeklyRelativityBar {
  background-color: var(--container-element-blue);
  border-radius: 5px;
  height: 5px;
  position: relative;
  width: 25vw;
  display: inline-block;
}

#RelativeTemp {
  --max-gradient: #bf4040;
  --min-gradient: #40bfbf;
  /* background: linear-gradient(90deg, var(--min-gradient), var(--max-gradient)); */
  border-radius: 5px;
  height: 5px;
  position: absolute;
}