.HourSlot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 75px;
  height: 1;
}

.HourSlot>p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.25rem;
}

.HourSlot>img {
  width: 25%;
}